In [ ]:
# Importing required libraries for data manipulation and analysis
# pandas: Used for data manipulation and analysis with DataFrames
# numpy: Used for numerical computing and array operations
import pandas as pd
import numpy as np

In [ ]:
# Loading the movies dataset from CSV file using pandas read_csv() function
# read_csv(): Reads a comma-separated values (CSV) file into a DataFrame
# The dataset contains IMDb top 1000 movies with various attributes like Genre, Rating, etc.
movies = pd.read_csv('DataSets/dataset-session-19/imdb-top-1000.csv')

<!-- ## Remember group by only on the categorical things -->
## Remember group by only on the categorical things

In [ ]:
# Display the first few rows of the movies dataset using head() function
# head(): Returns the first n rows of DataFrame (default n=5)
# This helps in understanding the structure and content of the dataset
movies.head()

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0

In [ ]:
# Create a GroupBy object by grouping movies by the 'Genre' column
# groupby(): Groups DataFrame using a mapper or by a Series of columns
# This creates a GroupBy object that allows for aggregation operations on each genre
# The groupby operation is lazy - it doesn't compute results until an aggregation is applied
genres = movies.groupby('Genre')  # Grouping by 'Genre' column

In [ ]:
# Apply sum aggregation on the GroupBy object to get totals for each genre
# sum(): Computes the sum of numeric columns for each group
# This will sum all numeric columns (Runtime, IMDB_Rating, No_of_Votes, Gross, etc.) by genre
# Non-numeric columns are ignored in the aggregation
genres.sum()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark KnightThe Lord of the Rings: The Retu...,2008200320102001200219991980197719621954200019...,22196,1367.3,Christopher NolanPeter JacksonChristopher Nola...,Christian BaleElijah WoodLeonardo DiCaprioElij...,72282412,3.263226e+10,10499.0
Adventure,InterstellarBack to the FutureInglourious Bast...,2014198520091981196819621959201319751963194819...,9656,571.5,Christopher NolanRobert ZemeckisQuentin Tarant...,Matthew McConaugheyMichael J. FoxBrad PittJürg...,22576163,9.496922e+09,5020.0
Animation,Sen to Chihiro no kamikakushiThe Lion KingHota...,2001199419882016201820172008199719952019200920...,8166,650.3,Hayao MiyazakiRoger AllersIsao TakahataMakoto ...,Daveigh ChaseRob MinkoffTsutomu TatsumiRyûnosu...,21978630,1.463147e+10,6082.0
Biography,Schindler's ListGoodfellasHamiltonThe Intoucha...,1993199020202011200220171995198420182013201320...,11970,698.6,Steven SpielbergMartin ScorseseThomas KailOliv...,Liam NeesonRobert De NiroLin-Manuel MirandaÉri...,24006844,8.276358e+09,6023.0
Comedy,GisaengchungLa vita è bellaModern TimesCity Li...,2019199719361931200919641940200120001973196019...,17380,1224.7,Bong Joon HoRoberto BenigniCharles ChaplinChar...,Kang-ho SongRoberto BenigniCharles ChaplinChar...,27620327,1.566387e+10,9840.0
Crime,The GodfatherThe Godfather: Part II12 Angry Me...,1972197419571994200219991995199120192006199519...,13524,857.8,Francis Ford CoppolaFrancis Ford CoppolaSidney...,Marlon BrandoAl PacinoHenry FondaJohn Travolta...,33533615,8.452632e+09,6706.0
Drama,The Shawshank RedemptionFight ClubForrest Gump...,1994199919941975202019981946201420061998198819...,36049,2299.7,Frank DarabontDavid FincherRobert ZemeckisMilo...,Tim RobbinsBrad PittTom HanksJack NicholsonSur...,61367304,3.540997e+10,19208.0
Family,E.T. the Extra-TerrestrialWilly Wonka & the Ch...,19821971,215,15.6,Steven SpielbergMel Stuart,Henry ThomasGene Wilder,551221,4.391106e+08,158.0
Fantasy,Das Cabinet des Dr. CaligariNosferatu,19201922,170,16.0,Robert WieneF.W. Murnau,Werner KraussMax Schreck,146222,7.827267e+08,0.0
Film-Noir,The Third ManThe Maltese FalconShadow of a Doubt,194919411943,312,23.9,Carol ReedJohn HustonAlfred Hitchcock,Orson WellesHumphrey BogartTeresa Wright,367215,1.259105e+08,287.0
Horror,PsychoAlienThe ThingThe ExorcistNight of the L...,19601979198219731968196120171978193320042001,1123,87.0,Alfred HitchcockRidley ScottJohn CarpenterWill...,Anthony PerkinsSigourney WeaverKurt RussellEll...,3742556,1.034649e+09,880.0
Mystery,MementoRear WindowVertigoShutter IslandKahaani...,200019541958201020121995197219381988201219981997,1429,95.7,Christopher NolanAlfred HitchcockAlfred Hitchc...,Guy PearceJames StewartJames StewartLeonardo D...,4203004,1.256417e+09,633.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,1.755074e+07,81.0
Western,"Il buono, il brutto, il cattivoOnce Upon a Tim...",1966196819651976,593,33.4,Sergio LeoneSergio LeoneSergio LeoneClint East...,Clint EastwoodHenry FondaClint EastwoodClint E...,1289665,5.822151e+07,313.0

In [ ]:
# Get the minimum value in each group using min aggregation
# min(): Returns the minimum value for each numeric column within each group
# This finds the lowest values (e.g., shortest runtime, lowest rating) for each genre
genres.min()  # Minimum value in each group

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,300,1924,45,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,33.0
Adventure,2001: A Space Odyssey,1925,88,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,41.0
Animation,Akira,1940,71,7.6,Adam Elliot,Adrian Molina,25229,128985.0,61.0
Biography,12 Years a Slave,1928,93,7.6,Adam McKay,Adrien Brody,27254,21877.0,48.0
Comedy,(500) Days of Summer,1921,68,7.6,Alejandro G. Iñárritu,Aamir Khan,26337,1305.0,45.0
Crime,12 Angry Men,1931,80,7.6,Akira Kurosawa,Ajay Devgn,27712,6013.0,47.0
Drama,1917,1925,64,7.6,Aamir Khan,Abhay Deol,25088,3600.0,28.0
Family,E.T. the Extra-Terrestrial,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,7.9,F.W. Murnau,Max Schreck,57428,337574718.0,NaN
Film-Noir,Shadow of a Doubt,1941,100,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191.0,94.0
Horror,Alien,1933,71,7.6,Alejandro Amenábar,Anthony Perkins,27007,89029.0,46.0
Mystery,Dark City,1938,96,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,7.8,Clint Eastwood,Clint Eastwood,65659,5321508.0,69.0

In [ ]:
# Find the top 3 genres by total earnings using chained operations
# groupby(): Groups movies by Genre
# sum(): Calculates sum of all numeric columns for each genre
# ['Gross']: Selects only the Gross earnings column from the aggregated result
# sort_values(): Sorts values in descending order (highest earnings first)
# head(3): Returns the top 3 results
movies.groupby('Genre').sum()['Gross'].sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [ ]:
# Find the top 3 genres by total earnings with direct column selection (more efficient)
# groupby(): Groups movies by Genre
# ['Gross']: Selects only the Gross column before aggregation (more efficient than selecting after)
# sum(): Calculates sum of Gross earnings for each genre
# sort_values(): Sorts in descending order
# head(3): Returns top 3 results
movies.groupby('Genre')['Gross'].sum().sort_values(ascending=False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [ ]:
# Find the genre with the highest average IMDB rating
# groupby(): Groups movies by Genre
# ['IMDB_Rating']: Selects only the IMDB_Rating column
# mean(): Calculates the average rating for each genre
# sort_values(): Sorts in descending order (highest average first)
# head(1): Returns only the top result (genre with highest average rating)
movies.groupby('Genre')['IMDB_Rating'].mean().sort_values(ascending=False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [ ]:
# Find the director with the highest total number of votes across all their movies
# groupby(): Groups movies by Director
# ['No_of_Votes']: Selects only the No_of_Votes column
# sum(): Calculates total votes received by each director across all their movies
# sort_values(): Sorts in descending order (highest total votes first)
# head(1): Returns only the director with the most total votes
movies.groupby('Director')['No_of_Votes'].sum().sort_values(ascending=False).head(1)

Director
Christopher Nolan    11578345
Name: No_of_Votes, dtype: int64

In [ ]:
# Example of finding the highest rated movie of each genre (commented out for reference)
# groupby(): Groups movies by Genre
# ['IMDB_Rating']: Selects only the IMDB_Rating column
# max(): Would return the maximum rating for each genre
# This shows the highest rating achieved in each genre, but not which movie achieved it
# movies.groupby('Genre')['IMDB_Rating'].max()

Genre
Action       9.0
Adventure    8.6
Animation    8.6
Biography    8.9
Comedy       8.6
Crime        9.2
Drama        9.3
Family       7.8
Fantasy      8.1
Film-Noir    8.1
Horror       8.5
Mystery      8.4
Thriller     7.8
Western      8.8
Name: IMDB_Rating, dtype: float64

In [ ]:
# Count the number of movies per actor using two different approaches:

# Approach 1 (commented): Using value_counts() on Star1 column
# value_counts(): Returns a Series containing counts of unique values
# movies['Star1'].value_counts()

# Approach 2: Using groupby and count aggregation
# groupby(): Groups movies by Star1 (lead actor)
# ['Series_Title']: Selects the Series_Title column to count
# count(): Counts non-null values in each group (number of movies per actor)
# sort_values(): Sorts in descending order (actors with most movies first)
movies.groupby('Star1')['Series_Title'].count().sort_values(ascending=False)

Star1
Tom Hanks             12
Robert De Niro        11
Clint Eastwood        10
Al Pacino             10
Leonardo DiCaprio      9
                      ..
Glen Hansard           1
Giuseppe Battiston     1
Giulietta Masina       1
Gerardo Taracena       1
Ömer Faruk Sorak       1
Name: Series_Title, Length: 660, dtype: int64

In [ ]:
# GroupBy Attributes and Methods demonstration:
# This cell serves as documentation for various GroupBy operations available in pandas:

# Key GroupBy Attributes and Methods:
# - len(groupby_obj): Returns the total number of groups created
# - .size(): Returns the count of items in each group (includes NaN values)
# - .count(): Returns the count of non-null values in each group
# - .first(): Returns the first row from each group
# - .last(): Returns the last row from each group  
# - .nth(n): Returns the nth row from each group (0-based indexing)
# - .get_group(key): Returns the group corresponding to a specific key
# - .groups: Returns a dictionary with group labels as keys and row indices as values
# - .describe(): Returns descriptive statistics for each group
# - .sample(n): Randomly samples n rows from each group
# - .nunique(): Returns the number of unique values in each group
# - .agg() or .aggregate(): Applies one or more aggregation functions to groups

# Additional methods: sum(), mean(), median(), std(), var(), min(), max(), etc.

In [ ]:
# Display the total number of groups by Genre
# len(): Returns the count of groups in the GroupBy object
# This tells us how many unique genres exist in the dataset
# Each unique genre becomes one group in the GroupBy object
len(movies.groupby('Genre'))  # Total number of groups

14

In [ ]:
# Display the number of unique genres using Series method
# nunique(): Returns the number of unique non-null values in a Series
# This is an alternative way to count unique genres without using groupby
# Should return the same result as len(movies.groupby('Genre'))
movies['Genre'].nunique()

14

In [ ]:
# Display the size (number of movies) of each genre group
# size(): Returns the size of each group (counts all rows including NaN values)
# This shows how many movies belong to each genre
# Unlike count(), size() includes rows with missing values
movies.groupby('Genre').size() # Number of items in each group

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

In [ ]:
# Demonstrate methods to access specific rows in each group:
# Using nth(6) to get the 7th row (0-based index) of each genre group.
genres = movies.groupby('Genre')

# Available positional access methods:
# first(): Returns the first row of each group
# last(): Returns the last row of each group
# nth(n): Returns the nth row of each group (0-based indexing)

# genres.first()  # Uncomment to see first row of each genre
# genres.last()   # Uncomment to see last row of each genre

# Using nth(6) to get the 7th row (0-based index) of each genre group
# If a group has fewer than 7 rows, it will return NaN for that group
genres.nth(6)

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Star Wars: Episode V - The Empire Strikes Back,1980,124,8.7,Irvin Kershner,Mark Hamill,1159315,290475067.0,82.0
Adventure,North by Northwest,1959,136,8.3,Alfred Hitchcock,Cary Grant,299198,13275000.0,98.0
Animation,WALL·E,2008,98,8.4,Andrew Stanton,Ben Burtt,999790,223808164.0,95.0
Biography,Braveheart,1995,178,8.3,Mel Gibson,Mel Gibson,959181,75600000.0,68.0
Comedy,The Great Dictator,1940,125,8.4,Charles Chaplin,Charles Chaplin,203150,288475.0,NaN
Crime,Se7en,1995,127,8.6,David Fincher,Morgan Freeman,1445096,100125643.0,65.0
Drama,It's a Wonderful Life,1946,130,8.6,Frank Capra,James Stewart,405801,82385199.0,89.0
Horror,Get Out,2017,104,7.7,Jordan Peele,Daniel Kaluuya,492851,176040665.0,85.0
Mystery,Sleuth,1972,138,8.0,Joseph L. Mankiewicz,Laurence Olivier,44748,4081254.0,NaN

In [ ]:
# Display count of movies for each genre using value_counts()
# value_counts(): Returns a Series with counts of unique values in descending order
# This is equivalent to groupby('Genre').size().sort_values(ascending=False)
# but more concise and automatically sorted in descending order
# Shows which genres have the most movies in the dataset
movies['Genre'].value_counts()

Genre
Drama        289
Action       172
Comedy       155
Crime        107
Biography     88
Animation     82
Adventure     72
Mystery       12
Horror        11
Western        4
Film-Noir      3
Fantasy        2
Family         2
Thriller       1
Name: count, dtype: int64

In [ ]:
# Retrieve data for the 'Fantasy' genre using two equivalent approaches:

# Approach 1: Using get_group() method on the GroupBy object
# get_group(key): Returns the group corresponding to the specified key
# More efficient when you have an existing GroupBy object
genres.get_group('Fantasy')

# Approach 2: Using boolean indexing on the original DataFrame
# Creates a boolean mask and filters the DataFrame
# This approach doesn't require a pre-existing GroupBy object
movies[movies['Genre'] == 'Fantasy']

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
568,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN

In [ ]:
# Display the groups as a dictionary with group labels as keys and row indices as values
# .groups: Returns a dictionary where:
#   - Keys are the group labels (e.g., genre names)
#   - Values are arrays of row indices belonging to each group
# This shows the internal structure of how pandas organizes the GroupBy object
# Useful for understanding which rows belong to which groups
genres.groups

{'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Family': [688, 698], 'Fantasy': [321, 568], 'Film-Noir': [309, 456, 712], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Thriller': [700], 'Western': [12, 48, 115, 691]}

In [ ]:
# Get comprehensive descriptive statistics for each genre group
# describe(): Returns count, mean, std, min, 25%, 50%, 75%, max for numeric columns
# Applied to GroupBy object, it provides these statistics for each group separately
# This gives a statistical summary of all numeric columns (Runtime, IMDB_Rating, etc.) by genre
# Helpful for understanding the distribution and characteristics of each genre
genres.describe()  # Descriptive statistics for each group

          Runtime                                                              \
            count        mean        std    min     25%    50%     75%    max
Genre
Action      172.0  129.046512  28.500706   45.0  110.75  127.5  143.25  321.0
Adventure    72.0  134.111111  33.317320   88.0  109.00  127.0  149.00  228.0
Animation    82.0   99.585366  14.530471   71.0   90.00   99.5  106.75  137.0
Biography    88.0  136.022727  25.514466   93.0  120.00  129.0  146.25  209.0
Comedy      155.0  112.129032  22.946213   68.0   96.00  106.0  124.50  188.0
Crime       107.0  126.392523  27.689231   80.0  106.50  122.0  141.50  229.0
Drama       289.0  124.737024  27.740490   64.0  105.00  121.0  137.00  242.0
Family        2.0  107.500000  10.606602  100.0  103.75  107.5  111.25  115.0
Fantasy       2.0   85.000000  12.727922   76.0   80.50   85.0   89.50   94.0
Film-Noir     3.0  104.000000   4.000000  100.0  102.00  104.0  106.00  108.0
Horror       11.0  102.090909  13.604812   71.0   98.00  103.0  109.00  122.0
Mystery      12.0  119.083333  14.475423   96.0  110.75  117.5  130.25  138.0
Thriller      1.0  108.000000        NaN  108.0  108.00  108.0  108.00  108.0
Western       4.0  148.250000  17.153717  132.0  134.25  148.0  162.00  165.0

          IMDB_Rating            ...         Gross              Metascore  \
                count      mean  ...           75%          max     count
Genre                            ...
Action          172.0  7.949419  ...  2.674437e+08  936662225.0     143.0
Adventure        72.0  7.937500  ...  1.998070e+08  874211619.0      64.0
Animation        82.0  7.930488  ...  2.520612e+08  873839108.0      75.0
Biography        88.0  7.938636  ...  9.829924e+07  753585104.0      79.0
Comedy          155.0  7.901290  ...  8.107809e+07  886752933.0     125.0
Crime           107.0  8.016822  ...  7.102163e+07  790482117.0      87.0
Drama           289.0  7.957439  ...  1.164461e+08  924558264.0     241.0
Family            2.0  7.800000  ...  3.273329e+08  435110554.0       2.0
Fantasy           2.0  8.000000  ...  4.182577e+08  445151978.0       0.0
Film-Noir         3.0  7.966667  ...  6.273068e+07  123353292.0       3.0
Horror           11.0  7.909091  ...  1.362817e+08  298791505.0      11.0
Mystery          12.0  7.975000  ...  1.310949e+08  474203697.0       8.0
Thriller          1.0  7.800000  ...  1.755074e+07   17550741.0       1.0
Western           4.0  8.350000  ...  1.920000e+07   31800000.0       4.0


                mean        std   min    25%   50%    75%    max
Genre
Action     73.419580  12.421252  33.0  65.00  74.0  82.00   98.0
Adventure  78.437500  12.345393  41.0  69.75  80.5  87.25  100.0
Animation  81.093333   8.813646  61.0  75.00  82.0  87.50   96.0
Biography  76.240506  11.028187  48.0  70.50  76.0  84.50   97.0
Comedy     78.720000  11.829160  45.0  72.00  79.0  88.00   99.0
Crime      77.080460  13.099102  47.0  69.50  77.0  87.00  100.0
Drama      79.701245  12.744687  28.0  72.00  82.0  89.00  100.0
Family     79.000000  16.970563  67.0  73.00  79.0  85.00   91.0
Fantasy          NaN        NaN   NaN    NaN   NaN    NaN    NaN
Film-Noir  95.666667   1.527525  94.0  95.00  96.0  96.50   97.0
Horror     80.000000  15.362291  46.0  77.50  87.0  88.50   97.0
Mystery    79.125000  18.604435  52.0  65.25  77.0  98.50  100.0
Thriller   81.000000        NaN  81.0  81.00  81.0  81.00   81.0
Western    78.250000   9.032349  69.0  72.75  77.0  82.50   90.0

[14 rows x 40 columns]

In [ ]:
# Randomly sample 2 rows from each group with replacement
# sample(n, replace=True): Randomly selects n rows from each group
# replace=True: Allows the same row to be selected multiple times (sampling with replacement)
# replace=False (default): Each row can only be selected once (sampling without replacement)
# This is useful for getting a random representative sample from each genre
genres.sample(2, replace=True) # Randomly sample 2 rows from each group, with replacement

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
479,X-Men: Days of Future Past,2014,132,Action,7.9,Bryan Singer,Patrick Stewart,659763,233921534.0,75.0
172,Ran,1985,162,Action,8.2,Akira Kurosawa,Tatsuya Nakadai,112505,4135750.0,96.0
137,Queen,2013,146,Adventure,8.2,Vikas Bahl,Kangana Ranaut,60701,1429534.0,NaN
191,The Treasure of the Sierra Madre,1948,126,Adventure,8.2,John Huston,Humphrey Bogart,114304,5014000.0,98.0
146,Up,2009,96,Animation,8.2,Pete Docter,Bob Peterson,935507,293004164.0,88.0
43,The Lion King,1994,88,Animation,8.5,Roger Allers,Rob Minkoff,942045,422783777.0,88.0
373,Cinderella Man,2005,144,Biography,8.0,Ron Howard,Russell Crowe,176151,61649911.0,69.0
671,Awakenings,1990,121,Biography,7.8,Penny Marshall,Robert De Niro,125276,52096475.0,74.0
680,Down by Law,1986,107,Comedy,7.8,Jim Jarmusch,Tom Waits,47834,1436000.0,75.0
127,The Kid,1921,68,Comedy,8.3,Charles Chaplin,Charles Chaplin,113314,5450000.0,NaN
165,Casino,1995,178,Crime,8.2,Martin Scorsese,Robert De Niro,466276,42438300.0,73.0
611,Män som hatar kvinnor,2009,152,Crime,7.8,Niels Arden Oplev,Michael Nyqvist,208994,10095170.0,76.0
943,28 Days Later...,2002,113,Drama,7.6,Danny Boyle,Cillian Murphy,376853,45064915.0,73.0
314,Gone with the Wind,1939,238,Drama,8.1,Victor Fleming,George Cukor,290074,198676459.0,97.0
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
568,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
309,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
309,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
948,The Others,2001,101,Horror,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687.0,74.0
75,Alien,1979,117,Horror,8.4,Ridley Scott,Sigourney Weaver,787806,78900000.0,89.0
145,Shutter Island,2010,138,Mystery,8.2,Martin Scorsese,Leonardo DiCaprio,1129894,128012934.0,63.0
959,Dark City,1998,100,Mystery,7.6,Alex Proyas,Rufus Sewell,187927,14378331.0,66.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
48,Once Upon a Time in the West,1968,165,Western,8.5,Sergio Leone,Henry Fonda,302844,5321508.0,80.0
12,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [ ]:
# Count the number of unique values in each column for each genre group
# nunique(): Returns the number of unique non-null values for each column within each group
# This shows diversity within each genre (e.g., how many unique directors, actors, etc.)
# Useful for understanding the variety of content within each genre category
genres.nunique() # Count unique values in each group

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,49,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40
Comedy,155,72,70,11,113,133,155,155,44
Crime,106,56,65,14,86,85,107,107,39
Drama,289,83,95,14,211,250,288,287,52
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

In [ ]:
# Aggregate multiple columns with different functions using a dictionary mapping
# agg(): Applies different aggregation functions to different columns
# Dictionary format: {'column_name': 'aggregation_function'}
# This allows customized analysis - different metrics for different attributes:
# - Runtime: average duration of movies in each genre
# - IMDB_Rating: average quality rating per genre  
# - No_of_Votes: total audience engagement per genre
# - Gross: total box office earnings per genre
# - Metascore: lowest critic score in each genre
genres.agg(  #  Aggregate multiple columns with different functions
    {
        'Runtime': 'mean',      # Average movie duration per genre
        'IMDB_Rating': 'mean',  # Average rating per genre
        'No_of_Votes': 'sum',   # Total votes per genre
        'Gross': 'sum',         # Total earnings per genre
        'Metascore': 'min'      # Lowest critic score per genre
    }
)

              Runtime  IMDB_Rating  No_of_Votes         Gross  Metascore
Genre
Action     129.046512     7.949419     72282412  3.263226e+10       33.0
Adventure  134.111111     7.937500     22576163  9.496922e+09       41.0
Animation   99.585366     7.930488     21978630  1.463147e+10       61.0
Biography  136.022727     7.938636     24006844  8.276358e+09       48.0
Comedy     112.129032     7.901290     27620327  1.566387e+10       45.0
Crime      126.392523     8.016822     33533615  8.452632e+09       47.0
Drama      124.737024     7.957439     61367304  3.540997e+10       28.0
Family     107.500000     7.800000       551221  4.391106e+08       67.0
Fantasy     85.000000     8.000000       146222  7.827267e+08        NaN
Film-Noir  104.000000     7.966667       367215  1.259105e+08       94.0
Horror     102.090909     7.909091      3742556  1.034649e+09       46.0
Mystery    119.083333     7.975000      4203004  1.256417e+09       52.0
Thriller   108.000000     7.800000        27733  1.755074e+07       81.0
Western    148.250000     8.350000      1289665  5.822151e+07       69.0

In [ ]:
# Apply multiple aggregation functions to all numeric columns simultaneously
# agg(): When passed a list of functions, applies each function to every numeric column
# This creates a multi-level column structure (function_name, column_name)
# Functions applied: min, max, mean, sum for each numeric column in each genre
# Results in comprehensive statistical summary across all genres and metrics
genres.agg(['min', 'max', 'mean', 'sum'])

TypeError: agg function failed [how->mean,dtype->object]

In [ ]:
# Advanced aggregation: applying different combinations of functions to specific columns
# agg(): Dictionary with column names as keys and function lists/strings as values
# This approach combines the flexibility of both previous methods:
# - Some columns get multiple functions (Runtime: min and mean)
# - Some columns get single functions (IMDB_Rating: mean only)
# - No_of_Votes gets both sum (total engagement) and max (peak popularity)
# Creates a multi-level structure only for columns with multiple functions
genres.agg(
    {
        'Runtime': ['min', 'mean'],    # Shortest and average runtime per genre
        'IMDB_Rating': 'mean',         # Average rating per genre  
        'No_of_Votes': ['sum', 'max'], # Total and peak votes per genre
        'Gross': 'sum',                # Total earnings per genre
        'Metascore': 'min'             # Lowest critic score per genre
    }
)

          Runtime             IMDB_Rating No_of_Votes                  Gross  \
              min        mean        mean         sum      max           sum
Genre
Action         45  129.046512    7.949419    72282412  2303232  3.263226e+10
Adventure      88  134.111111    7.937500    22576163  1512360  9.496922e+09
Animation      71   99.585366    7.930488    21978630   999790  1.463147e+10
Biography      93  136.022727    7.938636    24006844  1213505  8.276358e+09
Comedy         68  112.129032    7.901290    27620327   939631  1.566387e+10
Crime          80  126.392523    8.016822    33533615  1826188  8.452632e+09
Drama          64  124.737024    7.957439    61367304  2343110  3.540997e+10
Family        100  107.500000    7.800000      551221   372490  4.391106e+08
Fantasy        76   85.000000    8.000000      146222    88794  7.827267e+08
Film-Noir     100  104.000000    7.966667      367215   158731  1.259105e+08
Horror         71  102.090909    7.909091     3742556   787806  1.034649e+09
Mystery        96  119.083333    7.975000     4203004  1129894  1.256417e+09
Thriller      108  108.000000    7.800000       27733    27733  1.755074e+07
Western       132  148.250000    8.350000     1289665   688390  5.822151e+07

          Metascore
                min
Genre
Action         33.0
Adventure      41.0
Animation      61.0
Biography      48.0
Comedy         45.0
Crime          47.0
Drama          28.0
Family         67.0
Fantasy         NaN
Film-Noir      94.0
Horror         46.0
Mystery        52.0
Thriller       81.0
Western        69.0

In [ ]:
# Find the highest rated movie in each genre using iteration and concatenation
# This approach gets the actual movie records (not just the rating values)

# Step 1: Initialize empty list to store DataFrames
df_list = []

# Step 2: Iterate through each group in the GroupBy object
# for group, data: 'group' is the genre name, 'data' is the DataFrame for that genre
for group, data in genres:
  # Find rows where IMDB_Rating equals the maximum rating in this genre
  # data['IMDB_Rating'].max(): Gets the highest rating in current genre
  # data[condition]: Filters to rows matching the condition (highest rated movies)
  df_list.append(data[data['IMDB_Rating'] == data['IMDB_Rating'].max()])

# Step 3: Combine all DataFrames into a single result
# pd.concat(): Concatenates DataFrames vertically (replaces deprecated df.append())
df = pd.concat(df_list)
df

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
21,Interstellar,2014,169,Adventure,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
23,Sen to Chihiro no kamikakushi,2001,125,Animation,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
7,Schindler's List,1993,195,Biography,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
19,Gisaengchung,2019,132,Comedy,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
26,La vita è bella,1997,116,Comedy,8.6,Roberto Benigni,Roberto Benigni,623629,57598247.0,59.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
309,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
49,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
69,Memento,2000,113,Mystery,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
81,Rear Window,1954,112,Mystery,8.4,Alfred Hitchcock,James Stewart,444074,36764313.0,100.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
12,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [ ]:
# Apply the built-in min function to each group using apply()
# apply(): Applies a function to each group and returns the result
# min: Built-in Python function that finds the minimum value
# When applied to GroupBy, min() operates on each group's DataFrame
# This is equivalent to genres.min() but demonstrates apply() functionality
# apply() is more flexible and can work with custom functions
genres.apply(min)

C:\Users\User\AppData\Local\Temp\ipykernel_20364\2416944875.py:2: FutureWarning: The provided callable <built-in function min> is currently using np.minimum.reduce. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string np.minimum.reduce instead.
  genres.apply(min)
C:\Users\User\AppData\Local\Temp\ipykernel_20364\2416944875.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(min)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,,
Action,300,1924,45,Action,7.6,Abhishek Chaubey,Aamir Khan,25312,3296.0,NaN
Adventure,2001: A Space Odyssey,1925,88,Adventure,7.6,Akira Kurosawa,Aamir Khan,29999,61001.0,NaN
Animation,Akira,1940,71,Animation,7.6,Adam Elliot,Adrian Molina,25229,128985.0,NaN
Biography,12 Years a Slave,1928,93,Biography,7.6,Adam McKay,Adrien Brody,27254,21877.0,NaN
Comedy,(500) Days of Summer,1921,68,Comedy,7.6,Alejandro G. Iñárritu,Aamir Khan,26337,1305.0,NaN
Crime,12 Angry Men,1931,80,Crime,7.6,Akira Kurosawa,Ajay Devgn,27712,6013.0,NaN
Drama,1917,1925,64,Drama,7.6,Aamir Khan,Abhay Deol,25088,3600.0,NaN
Family,E.T. the Extra-Terrestrial,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,Fantasy,7.9,F.W. Murnau,Max Schreck,57428,337574718.0,NaN
Film-Noir,Shadow of a Doubt,1941,100,Film-Noir,7.8,Alfred Hitchcock,Humphrey Bogart,59556,449191.0,94.0
Horror,Alien,1933,71,Horror,7.6,Alejandro Amenábar,Anthony Perkins,27007,89029.0,46.0
Mystery,Dark City,1938,96,Mystery,7.6,Alex Proyas,Bernard-Pierre Donnadieu,33982,1035953.0,NaN
Thriller,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1965,132,Western,7.8,Clint Eastwood,Clint Eastwood,65659,5321508.0,69.0

In [ ]:
# Define a custom function that counts movies starting with 'A' in a group
def foo(group):
  # group: DataFrame containing all movies for a specific genre
  # str.startswith('A'): String method that returns boolean Series (True if starts with 'A')
  # sum(): Counts True values (True=1, False=0) to get total count
  # This function will count how many movie titles start with 'A' in each genre
  return group['Series_Title'].str.startswith('A').sum()

In [ ]:
# Apply the custom function 'foo' to each genre group
# apply(): Calls the foo function once for each genre group
# Each genre's DataFrame is passed as the 'group' parameter to foo()
# Returns a Series with genre names as index and count of 'A' movies as values
# This shows how many movies starting with 'A' exist in each genre
genres.apply(foo)

C:\Users\User\AppData\Local\Temp\ipykernel_20364\2041110738.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(foo)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        21
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

In [ ]:
# Define a function to rank movies within each group based on IMDB rating
def rank_movie(group):
  # group: DataFrame containing all movies for a specific genre
  # rank(): Assigns ranks to values (1 = highest rating, 2 = second highest, etc.)
  # ascending=False: Higher ratings get lower rank numbers (1 is best)
  # Creates a new column 'genre_rank' showing each movie's ranking within its genre
  group['genre_rank'] = group['IMDB_Rating'].rank(ascending=False)
  return group

In [ ]:
# Apply the ranking function to each genre group
# apply(): Calls rank_movie function for each genre group
# Returns the complete DataFrame with a new 'genre_rank' column added
# Each movie now has a rank within its genre (1 = best rated in that genre)
# This allows comparison of movies within their genre categories
genres.apply(rank_movie)

C:\Users\User\AppData\Local\Temp\ipykernel_20364\1620382020.py:2: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(rank_movie)

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 700                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         48                        Once Upon a Time in the West          1968
         115                         Per qualche dollaro in più          1965
         691                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 700      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         48       165   Western          8.5       Sergio Leone
         115      132   Western          8.3       Sergio Leone
         691      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0
         5          Elijah Wood      1642758  377845905.0       94.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0
         10         Elijah Wood      1661481  315544750.0       92.0
         13         Elijah Wood      1485555  342551365.0       87.0
...                         ...          ...          ...        ...
Thriller 700     Audrey Hepburn        27733   17550741.0       81.0
Western  12      Clint Eastwood       688390    6100000.0       90.0
         48         Henry Fonda       302844    5321508.0       80.0
         115     Clint Eastwood       232772   15000000.0       74.0
         691     Clint Eastwood        65659   31800000.0       69.0

              genre_rank
Genre
Action   2           1.0
         5           2.0
         8           3.5
         10          3.5
         13          6.0
...                  ...
Thriller 700         1.0
Western  12          1.0
         48          2.0
         115         3.0
         691         4.0

[1000 rows x 11 columns]

In [ ]:
# Define a function to normalize IMDB ratings within each genre group
def normal(group):
  # Normalization formula: (value - min) / (max - min)
  # This scales all ratings in a genre to a 0-1 range:
  # - Lowest rated movie in genre gets 0
  # - Highest rated movie in genre gets 1  
  # - Other movies get proportional values between 0 and 1
  # This allows fair comparison across genres with different rating ranges
  group['norm_rating'] = (group['IMDB_Rating'] - group['IMDB_Rating'].min()) / (group['IMDB_Rating'].max() - group['IMDB_Rating'].min())
  return group

# Apply normalization function to each genre group
# Creates 'norm_rating' column showing relative performance within each genre
genres.apply(normal)

C:\Users\User\AppData\Local\Temp\ipykernel_20364\1743175917.py:6: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  genres.apply(normal)

                                                   Series_Title Released_Year  \
Genre
Action   2                                      The Dark Knight          2008
         5        The Lord of the Rings: The Return of the King          2003
         8                                            Inception          2010
         10   The Lord of the Rings: The Fellowship of the Ring          2001
         13               The Lord of the Rings: The Two Towers          2002
...                                                         ...           ...
Thriller 700                                    Wait Until Dark          1967
Western  12                     Il buono, il brutto, il cattivo          1966
         48                        Once Upon a Time in the West          1968
         115                         Per qualche dollaro in più          1965
         691                             The Outlaw Josey Wales          1976

              Runtime     Genre  IMDB_Rating           Director  \
Genre
Action   2        152    Action          9.0  Christopher Nolan
         5        201    Action          8.9      Peter Jackson
         8        148    Action          8.8  Christopher Nolan
         10       178    Action          8.8      Peter Jackson
         13       179    Action          8.7      Peter Jackson
...               ...       ...          ...                ...
Thriller 700      108  Thriller          7.8      Terence Young
Western  12       161   Western          8.8       Sergio Leone
         48       165   Western          8.5       Sergio Leone
         115      132   Western          8.3       Sergio Leone
         691      135   Western          7.8     Clint Eastwood

                          Star1  No_of_Votes        Gross  Metascore  \
Genre
Action   2       Christian Bale      2303232  534858444.0       84.0
         5          Elijah Wood      1642758  377845905.0       94.0
         8    Leonardo DiCaprio      2067042  292576195.0       74.0
         10         Elijah Wood      1661481  315544750.0       92.0
         13         Elijah Wood      1485555  342551365.0       87.0
...                         ...          ...          ...        ...
Thriller 700     Audrey Hepburn        27733   17550741.0       81.0
Western  12      Clint Eastwood       688390    6100000.0       90.0
         48         Henry Fonda       302844    5321508.0       80.0
         115     Clint Eastwood       232772   15000000.0       74.0
         691     Clint Eastwood        65659   31800000.0       69.0

              norm_rating
Genre
Action   2       1.000000
         5       0.928571
         8       0.857143
         10      0.857143
         13      0.785714
...                   ...
Thriller 700          NaN
Western  12      1.000000
         48      0.700000
         115     0.500000
         691     0.000000

[1000 rows x 11 columns]

In [ ]:
# Perform groupby on multiple columns: Director and Star1 (lead actor)
# groupby(): Can accept a list of columns to create hierarchical groups
# This creates groups for each unique combination of Director and Star1
# Useful for analyzing director-actor collaborations
duo = movies.groupby(['Director', 'Star1'])

# Display the GroupBy object information
duo

# size(): Shows the number of movies for each director-actor combination
# Identifies prolific collaborations (multiple movies together)
duo.size()

# get_group(): Access a specific director-actor combination
# Tuple format: (Director_name, Star1_name) - both must match exactly
# This retrieves all movies where Aamir Khan directed and Amole Gupte starred
duo.get_group(('Aamir Khan', 'Amole Gupte'))

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
65,Taare Zameen Par,2007,165,Drama,8.4,Aamir Khan,Amole Gupte,168895,1223869.0,NaN

In [ ]:
# Find the most profitable director-actor combination by total box office earnings
# duo: GroupBy object with director-actor combinations
# ['Gross']: Selects only the Gross earnings column
# sum(): Calculates total earnings for each director-actor pair across all their collaborations
# sort_values(): Sorts in descending order (highest earning partnerships first)
# head(1): Returns only the top earning director-actor combination
duo['Gross'].sum().sort_values(ascending=False).head(1)

Director        Star1
Akira Kurosawa  Toshirô Mifune    2.999877e+09
Name: Gross, dtype: float64

In [ ]:
# Find the best actor-genre combination based on average Metascore (critic ratings)
# groupby(): Groups by both Star1 (actor) and Genre
# ['Metascore']: Selects only the Metascore column (critic ratings)
# mean(): Calculates average critic score for each actor-genre combination
# reset_index(): Converts the result back to a regular DataFrame (removes multi-index)
# sort_values(): Sorts by Metascore in descending order (highest critic scores first)
# head(1): Returns the actor-genre combination with the highest average critic rating
movies.groupby(['Star1', 'Genre'])['Metascore'].mean().reset_index().sort_values('Metascore', ascending=False).head(1)

              Star1  Genre  Metascore
230  Ellar Coltrane  Drama      100.0

In [ ]:
# Apply multiple aggregation functions to all numeric columns for director-actor pairs
# duo: GroupBy object with director-actor combinations  
# agg(): Applies multiple functions to each numeric column
# ['min', 'max', 'mean']: Three statistical functions applied simultaneously
# Results show the minimum, maximum, and average values for each metric
# This provides comprehensive statistics for each director-actor collaboration
# Useful for understanding the range and consistency of their work together
duo.agg(['min', 'max', 'mean'])

TypeError: agg function failed [how->mean,dtype->object]

<!-- ### Excercise -->
### Excercise

In [ ]:
# Load the IPL (Indian Premier League) deliveries dataset for cricket analysis
# read_csv(): Loads cricket ball-by-ball data from CSV file
# This dataset contains detailed information about each ball bowled in IPL matches
# Including batsman, bowler, runs scored, extras, dismissals, etc.
ipl = pd.read_csv('/content/deliveries.csv')

# head(): Display first few rows to understand the dataset structure
# Shows columns like match_id, inning, batting_team, bowling_team, over, ball, batsman, etc.
ipl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,1,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,2,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,3,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,4,0,4,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,4,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,0,0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1,5,DA Warner,S Dhawan,TS Mills,0,...,0,0,0,0,0,2,2,NaN,NaN,NaN

In [ ]:
# Display the dimensions (shape) of the IPL dataset
# shape: Returns a tuple (rows, columns) showing dataset size
# Rows represent the total number of balls bowled in the dataset
# Columns represent the number of attributes/features recorded for each ball
# This helps understand the scale of data we're working with
ipl.shape

(179078, 21)

In [ ]:
# Find the top 10 batsmen based on total runs scored across all IPL matches
# groupby('batsman'): Groups all deliveries by batsman name
# ['batsman_runs']: Selects the column containing runs scored off each ball
# sum(): Calculates total runs scored by each batsman across their career
# sort_values(): Sorts in descending order (highest run-scorers first)
# head(10): Returns the top 10 highest run-scorers in IPL history
ipl.groupby('batsman')['batsman_runs'].sum().sort_values(ascending=False).head(10)

batsman
V Kohli           5434
SK Raina          5415
RG Sharma         4914
DA Warner         4741
S Dhawan          4632
CH Gayle          4560
MS Dhoni          4477
RV Uthappa        4446
AB de Villiers    4428
G Gambhir         4223
Name: batsman_runs, dtype: int64

In [ ]:
# Identify the batsman with the highest count of sixes (6 runs in a single ball)

# Step 1: Filter dataset to include only deliveries where 6 runs were scored
# ipl['batsman_runs'] == 6: Creates boolean mask for six-scoring deliveries
six = ipl[ipl['batsman_runs'] == 6]

# Step 2: Count sixes for each batsman and find the leader
# groupby('batsman'): Groups six-scoring deliveries by batsman
# ['batsman'].count(): Counts the number of six-scoring deliveries for each batsman
# sort_values(): Sorts in descending order (most sixes first)
# head(1): Gets the top result (batsman with most sixes)
# .index[0]: Extracts just the batsman name from the result
six.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(1).index[0]

'CH Gayle'

In [ ]:
# Find the batsman with the most boundaries (fours and sixes) in death overs (last 5 overs)

# Step 1: Filter for death overs (overs 16-20 in T20 cricket)
# over > 15: Selects deliveries from over 16 onwards (death overs)
temp_df = ipl[ipl['over'] > 15]

# Step 2: Filter for boundaries only (fours and sixes)
# batsman_runs == 4: Four runs scored (boundary)
# batsman_runs == 6: Six runs scored (maximum)
# |: OR operator to include both fours and sixes
temp_df = temp_df[(temp_df['batsman_runs'] == 4) | (temp_df['batsman_runs'] == 6)]

# Step 3: Count boundaries per batsman in death overs
# groupby('batsman'): Groups by batsman name
# count(): Counts total boundaries (4s + 6s) for each batsman in death overs
# sort_values(): Sorts in descending order
# head(1).index[0]: Gets the name of batsman with most death-over boundaries
temp_df.groupby('batsman')['batsman'].count().sort_values(ascending=False).head(1).index[0]

'MS Dhoni'

In [ ]:
# Calculate Virat Kohli's total runs scored against each bowling team

# Step 1: Filter dataset for Virat Kohli's batting performances only
# ipl['batsman'] == 'V Kohli': Boolean mask to select only Kohli's deliveries
temp_df = ipl[ipl['batsman'] == 'V Kohli']

# Step 2: Group by bowling team and sum runs
# groupby('bowling_team'): Groups Kohli's deliveries by the team he was batting against
# ['batsman_runs']: Selects the runs column
# sum(): Calculates total runs scored against each bowling team
# reset_index(): Converts result to a DataFrame with bowling_team and batsman_runs columns
# This shows Kohli's performance (total runs) against each IPL team
temp_df.groupby('bowling_team')['batsman_runs'].sum().reset_index()

               bowling_team  batsman_runs
0       Chennai Super Kings           749
1           Deccan Chargers           306
2            Delhi Capitals            66
3          Delhi Daredevils           763
4             Gujarat Lions           283
5           Kings XI Punjab           636
6      Kochi Tuskers Kerala            50
7     Kolkata Knight Riders           675
8            Mumbai Indians           628
9             Pune Warriors           128
10         Rajasthan Royals           370
11   Rising Pune Supergiant            83
12  Rising Pune Supergiants           188
13      Sunrisers Hyderabad           509

In [ ]:
# Find Virat Kohli's highest individual score in any single IPL match

# Step 1: Filter for Virat Kohli's batting performances
temp_df = ipl[ipl['batsman'] == 'V Kohli']

# Step 2: Calculate total runs per match and find the highest
# groupby('match_id'): Groups Kohli's deliveries by individual matches
# ['batsman_runs'].sum(): Calculates total runs scored in each match
# sort_values(): Sorts match scores in descending order (highest first)
# head(1): Gets the highest scoring match
# .values[0]: Extracts the actual score value (not the Series)
# This gives Kohli's highest individual match score in IPL
temp_df.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

113

In [ ]:
# Define a reusable function to get the highest match score for any given batsman
def highest(batsman):
  # batsman: Parameter to specify which batsman's highest score to find
  
  # Step 1: Filter dataset for the specified batsman's performances
  temp_df = ipl[ipl['batsman'] == batsman]
  
  # Step 2: Calculate and return highest individual match score
  # groupby('match_id'): Groups by individual matches for this batsman
  # ['batsman_runs'].sum(): Calculates total runs in each match
  # sort_values(): Sorts match scores in descending order
  # head(1).values[0]: Returns the highest score value
  # This function can be called for any batsman to find their best performance
  return temp_df.groupby('match_id')['batsman_runs'].sum().sort_values(ascending=False).head(1).values[0]

In [ ]:
# Display the highest score for 'DA Warner'
# highest(): Calls the previously defined function
# 'DA Warner': Player name parameter (must match exactly as stored in dataset)
# This will return Warner's best individual match performance in terms of runs scored
# The function encapsulates the complex groupby logic for easy reuse with different players
highest('DA Warner')

126

In [ ]:
# This cell is reserved for additional analysis or experimentation
# You can use this space to:
# - Test the highest() function with other batsmen
# - Explore different cricket statistics and aggregations
# - Practice writing custom functions for cricket data analysis
# - Add new analytical queries based on the IPL dataset

# Example usage ideas:
# highest('MS Dhoni')  # Find Dhoni's highest score
# highest('AB de Villiers')  # Find de Villiers' highest score

In the current cell (the one that extracts the highest rated movie per genre), the issue was the use of a deprecated method: df.append(). This has been fixed by accumulating rows in a list and then using pd.concat() to combine them.